NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD3ej_2fjFxpARmYJJhSBGLu2wsLa2XCzc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=zerowebsite-5951f.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=zerowebsite-5951f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=zerowebsite-5951f.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=742058399632
NEXT_PUBLIC_FIREBASE_APP_ID=1:742058399632:web:3b7b3d8c3d788a90b24515
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-QR5TH4G464

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=rakibul.rir06@gmail.com
SMTP_PASS=replace_with_your_new_smtp_key
SMTP_FROM=Zero Competitions <info.zerocomps@gmail.com>
CONTACT_RECEIVER_EMAIL=info.zerocomps@gmail.com
BREVO_API_KEY=replace_with_your_new_api_key

FIREBASE_ADMIN_PROJECT_ID=replace_with_your_firebase_project_id
FIREBASE_ADMIN_CLIENT_EMAIL=replace_with_service_account_client_email
FIREBASE_ADMIN_PRIVATE_KEY="replace_with_service_account_private_key"
