@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10, 10;
  --background-rgb: 250, 247, 247;
  color-scheme: light;
}

html.light,
html[data-theme='light'] {
  color-scheme: light !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FDF7F7;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

html,
body {
  forced-color-adjust: none;
}
