@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10, 10;
  --background-rgb: 245, 245, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 245, 245, 245;
    --background-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}
