@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10, 10;
  --background-rgb: 250, 234, 230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 10, 10, 10;
    --background-rgb: 250, 234, 230;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FAEAE6;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}
